[Desktop Entry]
Name=Open Hexagon CE
Comment=The community edition of Open Hexagon
MimeType=application/x-love-game;
Exec=start %f
Type=Application
Categories=Game;
Terminal=false
Icon=oh-ce
NoDisplay=true
